{% extends "base.html" %}

{% block app_content %}
<head>
    {% if title %}
    <title>{{ title }} - Simple FOREX</title>
    {% else %}
    <title>Welcome to Simple FOREX</title>
    {% endif %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7339501564973590",
    enable_page_level_ads: true
});
</script>

</head>
    <h1>Daily Exchange Rates</h1>
    <form action="{{ url_for('daily_data') }}" method="post" novalidate>
        <p>
            {{ form.base.label }} <br>
            {{form.base()}} 
        </p>
        <p>
            {{ form.symbols.label }} <br>
            {{form.symbols()}} 
        </p>
        <p>
            {{form.day.label}} <br>
            {{ form.day() }} 
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}